<!doctype html>
<html lang="en" class="h-100">
	<head>
		{{! Document Settings }}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		{{! Page Meta }}
		<title>{{meta_title}}</title>

		{{! Styles }}
		{{> css}}

		{{! Responsive Meta Tags }}	
		{{{block "head"}}}
		{{ghost_head}}
	</head>

	<body class="d-flex flex-column h-100">
		{{navigation}}

		<div class="container">
			<main id="main">
				{{{body}}}
			</main>
		</div>

		<footer id="footer">
			{{> footer}}
		</footer>

		{{ghost_foot}}
		{{> script}}
	</body>
</html>
