{{!< default}}
{{#post}}
<article id="{{comment_id}}" class="{{post_class}}">
	<div class="post-title">{{title}}</div>

	<div class="post-stamp">
		{{date published_at format='MMMM D, YYYY'}}
		<br>
		{{#foreach tags}}
			<a class="btn btn-sm btn-outline-dark tag-btn" href="{{url}}">{{name}}</a>
		{{/foreach}}
	</div>

	<br><br>
	{{content}}

	<br>
	{{> comments}}
</article>  
{{/post}}