{{!< default}}
<span class="post-title">{{tag.name}}</span> 
{{#get "posts" limit="all"  filter="tags:{{tag.slug}}"}}
	{{#foreach posts}}
	<p id="{{comment_id}}" class="{{post_class}}">
		<a class="post-title" href="{{url}}">{{title}}</a>
		<br>
		{{date published_at format='MMMM D, YYYY'}}	
	</p>
	{{/foreach}}
{{/get}}
